
@model CetBookStore.ViewModels.BookViewModel

<div class="col-md-4">
    <div class="card">
        <img src="/images/@Model.ImageUrl" class="card-img-top" style="height: 300px; object-fit: contain; background-color: #f8f9fa; padding: 10px;" alt="@Model.Title">        <div class="card-body">
            <h5 class="card-title">@Model.Title</h5>
            <p class="card-text">@Model.Author </p>
            <div class="d-flex justify-content-between align-items-center">
                <span class="h5 mb-0">@Model.Price.ToString("G29")</span>
            </div>
        </div>
        <div class="card-footer d-flex justify-content-between bg-light">
            <a class="btn btn-primary btn-sm" asp-action="AddToCart" asp-controller="ShoppingCart" asp-route-bookid="@Model.Id">Add to Cart</a>
            <button class="btn btn-outline-secondary btn-sm"><i class="bi bi-heart"></i></button>
        </div>
    </div>
</div>